.banner-section {
  background-color: #333;
}

.banner-heading {
  font-size: 24px;
  font-weight: bold;
}


.navbar-nav .nav-item .nav-link:hover {
  background-color: #4af574;
  border-radius: 5px;
}